In [2]:
import numpy as np
import pandas as pd

jud_data = pd.read_csv('judicial_dataset_predictions.csv')
par_data = pd.read_csv('parachute_dataset.csv')

In [3]:
jud_data.head()

   defendant_id    actual predicted
0         22574  innocent  innocent
1         35637  innocent  innocent
2         39919  innocent  innocent
3         29610    guilty    guilty
4         38273  innocent  innocent

In [4]:
par_data.head()

   parachute_id actual predicted
0          3956  opens     opens
1          2147  opens     opens
2          2024  opens     opens
3          8325  opens     opens
4          6598  opens     opens

In [6]:
 jud_data[jud_data['actual'] != jud_data['predicted']].shape[0]/jud_data.shape[0] #Njmber of errors

0.042152958945489497

In [7]:
jud_data.query("actual == 'innocent' and predicted == 'guilty'").count()[0]/jud_data.shape[0] #Type 1 errors

0.001510366607167376

In [10]:
jud_data.query("actual == 'guilty' and predicted == 'innocent'").count()[0]/jud_data.shape[0] #Type 2 errors

0.04064259233832212

In [12]:
jud_data[jud_data['actual'] == 'innocent'].shape[0]/jud_data.shape[0]

0.45159961554304545

In [13]:
par_data[par_data['actual'] != par_data['predicted']].shape[0]/par_data.shape[0] #Number of errors

0.039972551037913875

In [15]:
par_data.query("actual == 'fails' and predicted == 'opens'").count()[0]/par_data.shape[0] #Type 1 errors

0.00017155601303825698

In [16]:
par_data.query("actual == 'opens' and predicted == 'fails'").count()[0]/par_data.shape[0]  #Type 2 errors

0.03980099502487562

In [17]:
par_data[par_data['actual'] == 'opens'].shape[0]/par_data.shape[0]

0.9917653113741637